.logo-procesador {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 1s;
    width: 45%;

    img {
        width: 100%;
    }
}

.logo-procesador:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}